/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */

.grid{
	display:inline-block;
	margin: 5px;
	width: 150px;
	height: 150px;
}

.inner-grid{
	width: 150px;
	height: 150px;
	overflow: hidden;
}